
.joystick {
  box-sizing: border-box;
  width: 25vw;
  height:25vw;
  position: relative;
  margin: auto;
  border: 3px solid rgba(0,0,0,.8);
  background: rgba(0,0,0,.3);
  border-radius: 50%;
}

#stick {
  box-sizing: border-box;
  position: relative;
  top: calc(50% - 3.5vw);
  left: calc(50% - 3.5vw);
  width: 7vw;
  height:7vw;
  border: 3px solid rgba(0,0,0,.8);
  background: rgba(0,0,0,.3);
  border-radius: 50%;
}
