<!doctype html>
<html lang="en">
	<head>
		<title>Obelix 1.0</title>
		<meta charset="utf-8" />
		<link rel="icon" href="/favicon.png" />
		<link rel="stylesheet" href="/css/fontello.css" />
		<link rel="stylesheet" href="/css/style.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<link rel="modulepreload" href="/_app/immutable/entry/start.CaYOWHev.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/entry.DfwX7sfs.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/runtime.DmEZcW8Y.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/index.z00wikzL.js">
		<link rel="modulepreload" href="/_app/immutable/entry/app.gDfgi4gU.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/store.BXYhOZWn.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/disclose-version.Dza1u5i4.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/index-client.Bjs8yFsM.js">
	</head>
	<body data-sveltekit-preload-data="hover">
		<div style="display: contents">
			<script>
				{
					__sveltekit_wtcc1o = {
						base: ""
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("/_app/immutable/entry/start.CaYOWHev.js"),
						import("/_app/immutable/entry/app.gDfgi4gU.js")
					]).then(([kit, app]) => {
						kit.start(app, element);
					});
				}
			</script>
		</div>
	</body>
</html>
