<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Obelix 1.0 Control</title>
  <link rel="stylesheet" href="/static/css/uikit.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <meta name="description" content="">

  <link rel="icon" href="/static/favicon.ico" sizes="any">
  <link rel="icon" href="/static/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/static/icon.png">

  <meta name="theme-color" content="#fafafa">
</head>

<body>
  <div class="grid-container">
    <div>
      <div class="uk-card">
        <div id="horizon-wrapper">
          {% include 'horizon.svg' %}
        </div>
      </div>
    </div>
    <div>
      <ul id="tool-selector" class="uk-tab" uk-tab>
        <li><a href="#" onclick="UIkit.tab('#tool-selector').show(0);">Joystick</a></li>
        <li><a href="#" onclick="UIkit.tab('#tool-selector').show(1);">Adjust</a></li>
      </ul>
      <ul id="tools" class="uk-switcher">
        <li>
          <div class="analog-controls">
            <div class="joystick-wrapper">
              <div class="joystick">
                <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" alt="" height="400" width="400" />
                <div id="stick"></div>
              </div>
            </div>
            <div class="focus-wrapper">
              <input type="range" id="focus" orient="vertical" style="width: 20px;" min="0" max="1023" value="511" />
            </div>
          </div>
        </li>
        <li>
          <div class="adjust-wrapper">
            {% include 'adjust.svg' %}
          </div>
        </li>
      </ul>
    </div>
  </div>

  <script src="/static/js/socket.io.min.js"></script>
  <script type="text/javascript" charset="utf-8">
    var socket = io.connect('http://' + location.hostname + ':' + location.port);
    socket.on('connect', function() {
      console.log('connected');
    });
    socket.on('message', function(data) {
      console.log(data);
    });
  </script>
  <script src="/static/js/uikit.min.js"></script>
  <script type="module" src="/static/js/joystick.js"></script>
  <script type="module" src="/static/js/focus.js"></script>
  <script type="module" src="/static/js/adjust.js"></script>

</body>

</html>
