<!doctype html>
<html lang="en">
	<head>
		<title>Obelix 1.0</title>
		<meta charset="utf-8" />
		<link rel="icon" href="/favicon.png" />
		<link rel="stylesheet" href="/css/fontello.css" />
		<link rel="stylesheet" href="/css/style.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<link rel="modulepreload" href="/_app/immutable/entry/start.B8R3FlJa.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/entry._yB16wPB.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/runtime.CdqqS4Bm.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/utils.DEODT1V9.js">
		<link rel="modulepreload" href="/_app/immutable/entry/app.DPHTvqMc.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/store.D6nl9me4.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/disclose-version.CVdQhuh4.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/index-client.DBmkXexQ.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/this.DSTkaCEA.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/props.DaeUU8jY.js">
	</head>
	<body data-sveltekit-preload-data="hover">
		<div style="display: contents">
			<script>
				{
					__sveltekit_9mq120 = {
						base: ""
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("/_app/immutable/entry/start.B8R3FlJa.js"),
						import("/_app/immutable/entry/app.DPHTvqMc.js")
					]).then(([kit, app]) => {
						kit.start(app, element);
					});
				}
			</script>
		</div>
	</body>
</html>
