*, *::before, *::after {
  box-sizing: border-box;
}

.grid-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;

  @media (orientation: landscape) {
    flex-direction: row;
    > div {
      width: 50vw;
      height: 50vw;
      max-height: 100vh;
      overflow: hidden;
    }
  }

  @media (orientation: portrait) {
    flex-direction: column;
    > div {
      width: 50vh;
      height: 50vh;
      max-width: 100vw;
      overflow: hidden;
    }
  }
}

#horizon-wrapper {
  width: 100%;
  height: 100%;
}

/* Focus */
input[type="range"] {
  -webkit-appearance: none;
  height: 80%;
  width: 25px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.3);
  border: 3px solid rgba(0,0,0,.8);
  border-radius: 10px;
  outline: none;
}

input[type="range"]::-moz-range-thumb,
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 35px;
  height: 35px;
  background: #7C7C7C;
  border: 3px solid rgba(0,0,0,.8);
  cursor: pointer;
}

/* Analog controls */
.analog-controls {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: stretch;
}

.focus-wrapper {
  flex: 1 1 20%;

}

.joystick-wrapper {
  flex: 1 1 80%;
  position: relative;
  padding: 15px;
  padding-left: 40px;
}

.joystick {
  box-sizing: border-box;
  width: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid rgba(0,0,0,.8);
  background: rgba(0,0,0,.3);
  border-radius: 50%;
}

.joystick img {
  width: 100%;
  height: auto;
}

#stick {
  box-sizing: border-box;
  position: absolute;
  top: 37.5%;
  left: 37.5%;
  width: 25%;
  height: 25%;
  border: 3px solid rgba(0,0,0,.8);
  background: rgba(0,0,0,.3);
  border-radius: 50%;
}

#tools {
  width: 100%;
  height: calc(100% - 52px);

  > li {
    width: 100%;
    height: 100%;
  }
}

.adjust-wrapper {
  width: 100%;
  height: 100%;

  svg {
    max-width: 90%;
    max-height: 90%;
    display: block;
    margin: 5% auto;
  }

  #adjust use {
    fill: rgba(0,0,0,.3);
    stroke: #333;
    stroke-width: 6;
    stroke-linejoin: round;
  }
}