*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --background: rgba(0,0,0,.3);
  --color: #FFF;
  --border-color: #FFF;
  --text-shadow: 0 0 3px #000;
}

.daylight {
  --background: rgba(255,255,255,.2);
  --color: #000;
  --border-color: #000;
  --text-shadow: 0 0 3px #FFF;
}

html, body {
  margin: 0;
  padding: 0;
  background: #333;
  color: var(--color);
  text-shadow: var(--text-shadow);
  font-family: sans-serif;
}

a {
  color: var(--color);
  text-decoration: none;
}

/* Analog controls */
.analog-controls {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: stretch;
}
